#navbar {
    height: 95px;
}

.logo {
    width: 154px;
    height: 79px;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 2px;
}

.logo:focus {
    background-image: none;
    outline: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 211, 17, 0.5);
    box-shadow: 0 0 0 1px rgba(0, 211, 17, 0.5);
}

#dropdownMenuButton {
    border: 0px solid black;
    color: rgba(0, 211, 17, 0.6) !important;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#dropdownMenuButton:focus {
    color: rgba(0, 211, 17, 0.9) !important;
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#dropdownMenuButton:hover {
    color: rgba(0, 211, 17, 0.9) !important;
    cursor: pointer;
}

#dropdownMenuButton:active {
    color: rgba(0, 211, 17, 1) !important;
}

#dropdownMenuButton[aria-expanded="true"] {
    color: rgba(0, 211, 17, 0.9) !important;
}

.navbar {
    background-color: #000;
}

.nav-link {
    color: rgba(0, 211, 17, 0.6) !important;
    font-family: 'Orbitron', sans-serif;
}

.nav-link:hover {
    color: rgba(0, 211, 17, 0.9) !important;
}

.nav-link:focus {
    color: rgba(0, 211, 17, 0.8) !important;
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-link:active {
    color: rgba(0, 211, 17, 0.9);
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.current {
    color: rgba(0, 211, 17, 0.8) !important;
    font-weight: bold;
}

.current:hover {
    color: rgba(0, 211, 17, 0.9) !important;
}

.current:focus {
    color: rgba(0, 211, 17, 0.9) !important;
}

.current:active {
    color: rgba(0, 211, 17, 1) !important;
}

[aria-labelledby="dropdownMenuButton"] {
    background-color: #000;
}

.dropdown-item {
    color: rgba(0, 211, 17, 0.6);
}

.dropdown-item:hover {
    background-color: rgba(0, 211, 17, 0.6);
}

.dropdown-item:focus {
    background-color: rgba(0, 211, 17, 0.8);
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-item:active {
    color: #000;
    background-color: rgba(0, 211, 17, 0.9);
}

#nav-links {
    position: relative;
    top: 0px;
    width: 70%;
    top: 25px;
}

#collapse-toggle {
    width: 75px;
    height: 75px;
    padding: 0;
    border: 0;
    background-color: #000;
    background-image: url(../Images/Collapse-Bars.svg);
    /*Image made by Michael Kaufmann*/
}

#collapse-toggle:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 211, 17, 0.8);
    box-shadow: 0 0 0 2px rgba(0, 211, 17, 0.8);
}

#nav-container {
    background-color: #000;
    position: relative;
    left: -2px;
    top: 0px;
    width: 100vw;
}

li a {
    width: 100vw;
}
