#dropdownMenuButton {
    border: 0px solid black;
    color: rgba(0, 211, 17, 0.6) !important;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    left: -50px;
}

#dropdownMenuButton:focus {
    box-shadow: 0 0 0 0px rgba(204, 204, 204, .5);
}

#dropdownMenuButton:hover {
    color: rgba(0, 211, 17, 0.9) !important;
    cursor: pointer;
}

.navbar {
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
}

.nav-link {
    color: rgba(0, 211, 17, 0.6) !important;
}

.nav-link:hover {
    color: rgba(0, 211, 17, 0.9) !important;
}

.current {
    color: rgba(0, 211, 17, 0.9) !important;
    font-weight: bold;
}

.current:hover {
    color: rgba(0, 211, 17, 1) !important;
}
